.row-header {
  margin: 0px auto;
  padding: 0px 0px;
}
.row-content-header {
  margin: 0px auto;
  padding: 0px 0px;
  border-bottom: 1px ridge;
  border-top: 1px ridge;
}
.row-content {
  margin: 0px auto;
  padding: 0px 0px;
  border-bottom: 1px ridge;
  min-width: 400px;
}
.row-content-gallery {
  margin: 0px auto;
  padding: 0px 0px;
  min-width: 400px;
}
.footer {
  background-color: #8ee3ef;
  margin: 0px auto;
  padding: 20px 0p;
}
.jumbotron {
  margin: 0px auto;
  padding: 70px 30px;
  background: #458cb0;
  color: floralwhite;
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
}
address {
  font-size: 80%;
  margin: 0px;
  color: #0f0f0f;
}
body {
  padding: 50px 0px 0px 0px;
  z-index: 0;
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
}
.navbar-dark {
  background-color: #254e70;
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
}
.tab-content {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px;
}
.carousel {
  background: #254e70;
}
.carousel .carousel-item {
  height: 400px;
}
.carousel .carousel-item img {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 400px;
}
#carouselButton {
  right: 0px;
  position: absolute;
  bottom: 0px;
}
.modal-header {
  background-color: #254e70;
  color: floralwhite;
}
.modal-header .close {
  color: floralWhite;
}
.modal-body {
  background-color: #8ee3ef;
}
.map-container-6{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
  }
.map-container-6 iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}
